/* DESCRIPCIÓN: Este archivo contiene el CSS de toda la página principal organizado por segmentos.
Cada segmento está estrucutrado de la siguiente manera /*---- SEGMENTO ----*/

/* Segmentos que incluye:
* Reset
* Header
* Work
* Footer
* Responsive / Breackpoints
* @keyframes
*/

/* NORMALIZAR / RESET */

*{
    margin:0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

/* Quitamos los puntos de los <li> */
li{
    list-style: none;
}

/* Configuramos anclas suaves */
html{
    scroll-behavior: smooth;
    font-size: 100%;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1 , h2 , h3 , h4 , h5 , h6 , p , strong , a , span, i , b , u , em{
    font-weight: inherit;
    font-size: inherit;
    font-style: normal;
    text-decoration: none;
}

/* Evitamos problemas con las imagenes */
img , svg , picture , video , iframe , figure{
    display: block;
    width: 100%;
    max-width: 100%;
}

/* Nivelamos problemas de tipografías, svg y colocación de formularios */
form , input , button , textarea , select, option , label{
    display: block;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a{
    display: block;
    color:inherit;
    text-decoration: none;
    font-size: inherit;
}

/* Configuramos toda la tipoagrafía de la web */
body{
    font-family: 'Futura Std', sans-serif;
    font-size: .9rem;
    letter-spacing: .1rem;
    color: white;
    background-color: black;
    overflow-x: hidden;
}
/* Configuramos estilo scrollbar */
body::-webkit-scrollbar{
    width: .75rem;
}
body::-webkit-scrollbar-track{
    background-color: rgb(231, 133, 196);
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(205, 48, 150);
    border-radius: 6px;
}

/*---- HEADER ----*/
.header{
    width: 100%;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 0rem 2rem 0 0;
    padding-left: 1rem;
    
}
.header__img{
    width: 4rem;
    animation: line 2s ease 1
}

.header__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
    text-transform: uppercase;
    
    animation: line 2s ease 1;
}
.header__li::after{
    content: '';
    display: block;
    width: 100%;
    height: .05rem;
    background-color: white;

    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s ease-out;
}
.header__li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* SECCIÓN PORTADA */
.hero{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.hero__video{
    width: 90%;
    min-height: 100%;

    object-fit: cover;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: -1;
}
.hero__section{
    font-family: 'Harmond', sans-serif;
}
.section__h1{
    font-size: 7rem;
    overflow: hidden; 
    padding: 0 0 0 3rem; 
}
.h1__span{
    display: inline-block;
    transform-origin: bottom right;
    animation: letter 1.5s ease 1 both;
}
/* Utilizamos pseudo-clase como nth-child combinados con animation 'letter' y @keyframe 
    de manera que cada letra de h1__span aparezca en un momento determinado en la posición indicada*/
.h1__span:nth-child(1){animation-delay: .1s;}
.h1__span:nth-child(2){animation-delay: .5s;}
.h1__span:nth-child(3){animation-delay: .9s;}
.h1__span:nth-child(4){animation-delay: 1.3s;}
.h1__span:nth-child(5){animation-delay: 1.7s;}
.h1__span:nth-child(6){animation-delay: 2.1s;}

.section__h2{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;

    font-size: 2.5rem;
    overflow: hidden;
}
.develop{
    margin-left: 20rem;
}
.h2__span{
    transform-origin: bottom right;
    animation: letter 1.5s ease 1 both;
}

/* Utilizamos pseudo-clase como nth-child combinados con animation 'letter' y @keyframe 
    de manera que, como en el caso anterior, cada letra de .h2__span aparezca en un momento determinado en la posición indicada*/

.h2__span:nth-child(1){animation-delay: .1s;}
.h2__span:nth-child(2){animation-delay: .5s;}
.h2__span:nth-child(3){animation-delay: .9s;}
.h2__span:nth-child(4){animation-delay: 1.3s;}
.h2__span:nth-child(5){animation-delay: 1.7s;}
.h2__span:nth-child(6){animation-delay: 2.1s;}
.h2__span:nth-child(7){animation-delay: 2.6s;}
.h2__span:nth-child(8){animation-delay: 3.1s;}

.button__hero{
    background-color: white;
    padding: 1rem 2rem 1rem 3rem;
    border-radius: 2rem ;
    color: black;
    font-size: 0.7rem;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    box-shadow: 0 .3rem .3rem rgba(232, 226, 226, 0.392);

    position: absolute;
    top: 90%;
    right: 5%;
    overflow: hidden;
}
/* Utilizamos el seudoelemento ::before para añadir contenido en este caso un punto
delante de .button__hero  */

.button__hero::before{
    content: '';
    display: block;

    width: .5rem;
    height: .5rem;
    background-color: black;

    border-radius: 50%;

    position: absolute;
    top: calc( 50% - .25rem);
    left: 12%;

    transition: all 1.5s ease;
}

.button__span{
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: all 1s ease;
}
.button__svg{
    width: 1rem;
    height: 1rem;
    color: white;

    position: absolute;
    top: calc( 50% - .5rem);
    right: 10%;

    opacity: 0;
    transition: all .5s ease;
}
/* Utilizamos el seudoelemento :hover para que cuando el mouse se coloca encima de .button__hero,
 .button__span realice la animacion según los valores indicados  */

.button__hero:hover .button__span{
    color: white;
    transform: translateX(-20%);
}
.button__hero:hover::before{
    background-color: rgb(216, 112, 178);
    transform: scale(50);
}
.button__hero:hover .button__svg{
    opacity: 1;
    transform: translateX(10%);
}
/* Imagen de fondo seccion WORK */
.work{
    width: 100%;
    min-height: 150vh;
    background-color: pink;
    background-image: url(../assets/work_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}
.work__img{
    width: 300px;
    min-height: 300px;
    background-color: palevioletred;
    border-radius: 20%;

    opacity: 0.5;
    transition: all 2s ease;
    object-fit: cover;
}
.work__img:hover{
    opacity: 1;
}

.footer{
    width: 100%;
    background-color: black;
    padding: 4rem;
    color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.footer__firma{
    text-transform: uppercase;
}
.footer__ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer__svg{
    width: 1.5rem;
    height: 1.5rem;
}

/* RESPONSIVE - BREAKPOINTS */

@media (max-width:960px){
    .section__h1{
        font-size: 6rem;
    }
}
@media (max-width:768px){
    .hero__section{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .hero__video{
        width: 100%;
        left: 0;
        top: 7%;
    }
    .section__h1{
        font-size: 4.5rem;
    }
    .section__h2{
        font-size: 2rem;
    }
    .develop{
        margin-left: 10rem;
    }

    .footer{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .footer__ul{
        padding-left: 0;
        padding-top: 2rem;
        gap: .5rem;
    }
    .footer__span{
        margin-left: 3rem;
    }
    .footer__contacto{
        display: none;
    }

}

@media (max-width:480px){
    .header__a{
        padding: .8rem 0 0 0;
    }
    .header__img{
        width: 3rem;
    }
    .hero{
        min-height: 90vh;
    }
    .hero__video{
        width: 100%;
        top: 7%;
        left: 0;
    }
    .section__h1{
        font-size: 4rem;
        padding: 0;
    }
    .section__h2{
        font-size: 1.5rem;
    }
    .work{
        min-height: 100vh;
    }
    .work__img{
        width: 18.75rem;
        min-height: 18.75rem;
    }
    .footer__ul{
        gap: 1rem;
    }
    .footer__svg{
        width: 2rem;
        height: 2rem;
    }
}
/* Establecemos @keyframe: secuencia de animación que 
debe ser alcanzado por determinados puntos durante la animación según 
las propiedades aplicadas anteriormente */
@keyframes line{
    0% {transform: translateX(100%);
        opacity: 0;}
    100% {transform: translateX(0%);
        opacity: 1;}
}
@keyframes letter {
    0%{ transform: translateY(100%) rotateY(5deg);}
    100%{ transform: translateY(0) rotateY(0);}
    
}